.conteinerPrincipal{
    position: absolute;
    left: 10%;
    top: 20%;
    transition: translate (-50%, -50%);
    border: 1px solid blue;
    padding: 10px;
    background-color: white;
}

.conteinerSecundario{
    text-align: center;
}


  .psw, .signup, .singin{
    display: block;
    margin: spacing 0;
    font-size: 0.75em;
    text-align: center;
    color: navy-blue;
    cursor: pointer;
  }